# All files
* @RafaelEmery

# Python files
*.py @RafaelEmery

# Config files
*.toml @RafaelEmery
*.ini @RafaelEmery
Makefile @RafaelEmery

# Docker
docker-compose.yml @RafaelEmery
Dockerfile @RafaelEmery

# GitHub
/.github/ @RafaelEmery
