name: Lint & Type Check
description: Running Ruff linter and Mypy type checker on the codebase.

on:
  pull_request:
    branches: [main]
  push:
    branches: [main]
  workflow_call:

jobs:
  ruff:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Setup Poetry and Install Dev/Test Dependencies
        uses: ./.github/actions/setup-poetry
        with:
          python-version: "3.10"
          poetry-extras: "--with dev"

      - name: Ruff check
        run: poetry run ruff check .

  mypy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Setup Poetry and Install Dev/Test Dependencies
        uses: ./.github/actions/setup-poetry
        with:
          python-version: "3.10"
          poetry-extras: "--with dev"

      - name: Mypy check
        run: poetry run mypy src
