name: Run Lint

on:
  pull_request:
    branches: [main]
  push:
    branches: [main]

jobs:
  ruff:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Setup Poetry and Install Dev/Test Dependencies
        uses: ./.github/actions/setup-poetry
        with:
          python-version: "3.10"
          poetry-extras: "--with dev"

      - name: Ruff check
        run: poetry run ruff check .
