name: Tests

on:
  pull_request:
    branches: [main]
  push:
    branches: [main]

jobs:
  tests:
    runs-on: ubuntu-latest

    services:
      postgres:
        image: postgres:15
        ports:
          - 5432:5432
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
          POSTGRES_DB: test_db
        options: >-
          --health-cmd="pg_isready -U postgres"
          --health-interval=10s
          --health-timeout=5s
          --health-retries=5

    env:
      PYTHONPATH: src

      APP_HOST: 0.0.0.0
      APP_PORT: 8000

      DB_USER: postgres
      DB_PASSWORD: postgres
      DB_HOST: localhost
      DB_PORT: 5432
      DB_NAME: test_db

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Install Poetry
        run: |
          pip install poetry==2.1.4
          poetry config virtualenvs.create false

      - name: Install dependencies
        run: |
          poetry install \
            --no-interaction \
            --no-ansi \
            --no-root \
            --with dev,test

      - name: Run tests
        run: |
          poetry run pytest -vv \
            --cov=src \
            --cov-report=term-missing
